Options +FollowSymLinks
RewriteEngine On

# Allow directory listing
Options +Indexes

# If the request is not for a real file or directory, redirect to index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [L]
